@use "sass:map";
@use "@styles/variables.scss" as *;

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: color(background, primary);
}

.mainSection {
  flex: 1;
  overflow: hidden;
}

.resizeHandle {
  width: 1px;
  background-color: color(surface, primary);
  transition: background-color map.get($transitions, fast);

  &:hover {
    background-color: color(primary);
  }
}
