@use "@styles/variables.scss" as *;

.container {
  display: flex;
  flex-direction: column;

  gap: 0.1rem;
  padding: 0.5rem;
}

.status {
  display: flex;
  align-items: center;
  text-align: center;
  width: 200px;
  gap: 0.5rem;
  font-size: 0.8rem;
  color: color(text, secondary);

  svg {
    width: 12px;
    height: 12px;
  }
}

.statusText {
  text-align: right;
  margin-left: auto;
}

.connected {
  color: color(text, green);
}

.connecting {
  color: color(text, yellow);
  animation: pulse 1.5s infinite;
}

.disconnected {
  color: color(text, red);
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.taskTree {
  margin-top: 1rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: color(text, secondary);
  width: 50%;

  h4 {
    margin: 0 0 0.5rem;
  }

  .taskStatus,
  .taskGoal,
  .taskPlan,
  .taskError {
    margin-bottom: 0.5rem;
  }

  .pending {
    color: #888;
  }
  .in_progress {
    color: #2196f3;
  }
  .completed {
    color: #4caf50;
  }
  .error {
    color: #f44336;
  }

  .subTasks {
    ul {
      margin: 0.5rem 0;
      padding-left: 1.5rem;
    }
  }
}
