@use "@styles/variables.scss" as *;

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: spacing(md);
  background-color: color(background, secondary);
  @include custom-scrollbar;
  overflow-y: auto;

  &.mobile {
    padding: spacing(sm);
  }
}

.panelGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: spacing(md);
  height: 100%;

  .mobile & {
    grid-template-columns: 1fr;
    gap: spacing(sm);
  }
}
