@use "@styles/variables.scss" as *;

.container {
  display: flex;
  flex-direction: column;
  background-color: color(background, secondary);
  gap: 0.1rem;
  padding: 0.5rem;
  height: 100%;
}

.status {
  display: flex;
  align-items: center;
  text-align: center;
  width: 200px;
  gap: 0.5rem;
  font-size: 0.8rem;
  color: color(text, secondary);

  svg {
    width: 12px;
    height: 12px;
  }
}

.statusText {
  text-align: right;
  margin-left: auto;
}

.connected {
  color: color(text, green);
}

.connecting {
  color: color(text, yellow);
  animation: pulse 1.5s infinite;
}

.disconnected {
  color: color(text, red);
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.planningAndEmotion {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 0.5rem;
  height: 100%;
}
