@use '@styles/variables.scss' as *;

.container {
  height: 100%;
  overflow: hidden;
  background-color: color(background, primary);
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  padding-bottom: 0.5rem;
}

.logList {
  display: flex;
  width: 100%;
  height: calc(100% - 2rem);
  flex-direction: column;
  overflow-y: auto;
}

.logEntry {
  display: grid;
  grid-template-columns: auto auto auto 1fr;
  gap: 1rem;
  border-radius: 4px;
  font-size: 0.875rem;

  &:hover {
    background-color: color(surface, secondary);
  }
}

.timestamp {
  color: color(text, secondary);
}

.platform {
  color: color(primary);
  font-weight: 500;
}

.type {
  color: color(text, secondary);
}

.content {
  color: color(text, primary);
  word-break: break-word;
  &.white {
    color: color(text, white);
  }
  &.red {
    color: color(text, red);
  }
  &.green {
    color: color(text, green);
  }
  &.blue {
    color: color(text, blue);
  }
  &.yellow {
    color: color(text, yellow);
  }
  &.magenta {
    color: color(text, magenta);
  }
  &.cyan {
    color: color(text, cyan);
  }
}

.tabs {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  height: 2rem;
  background-color: color(background, primary);
  z-index: 1000;
}

.tab {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  background: none;
  color: color(text, disabled);
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    color: color(text, primary);
  }

  &.active {
    color: color(text, white);
  }
}
