@use "@styles/variables.scss" as *;

.card {
  @include card(spacing(lg));
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;

  &.mobile {
    height: auto;
    min-height: 300px;
  }
}

.cardHeader {
  @include flex-between;
  margin-bottom: spacing(sm);
  flex-shrink: 0;
}

.cardTitle {
  @include section-title;
}

.emotionBadge {
  font-size: font-size(xxs);
  font-weight: font-weight(semibold);
  padding: spacing(xxs) spacing(sm);
  border-radius: radius(xl);
  line-height: 1;
}

.chartWrapper {
  flex: 1;
  min-height: 0;
  position: relative;

  canvas {
    transition: all 2s linear;
  }
}
