@use "@styles/variables.scss" as *;
@use "../service-common" as *;

.serviceItem {
  @include service-item;
}

.info {
  @include service-info;
}

.name {
  @include service-name;
}

.statusText {
  @include service-status-text;
}

.statusDot {
  @include service-status-dot;
}

.controlWrapper {
  position: relative;
  flex-shrink: 0;
}

.toggle {
  @include toggle-switch;
}

.toggleThumb {
  @include toggle-thumb;
}

// Server dropdown (MinebotBotItem only)
.serverDropdown {
  position: absolute;
  top: calc(100% + spacing(xs));
  right: 0;
  min-width: 150px;
  background-color: color(surface, secondary);
  border: 1px solid color(border, primary);
  border-radius: radius(md);
  padding: spacing(xs);
  z-index: z(dropdown);
  box-shadow: shadow(md);
  display: flex;
  flex-direction: column;
  gap: spacing(xxs);
}

.serverOption {
  width: 100%;
  padding: spacing(sm) spacing(md);
  text-align: left;
  font-size: font-size(sm);
  background: none;
  border: none;
  border-radius: radius(sm);
  color: color(text, primary);
  cursor: pointer;
  transition: background-color transition(fast);

  &:hover {
    background-color: color(surface, hover);
  }
}
