@use '@styles/variables.scss' as *;

.sidebarContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: color(background, primary);
}

.tabContainer {
  flex-shrink: 0;
  padding: auto;
  display: flex;
  justify-content: center;
  height: 32px;
  border-bottom: 1px solid color(surface, primary);
}

.tab {
  font-size: 12px;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: color(text, primary);
  cursor: pointer;
  transition: background-color 0.2s;
  &:hover {
    background-color: color(surface, secondary);
  }

  &.active {
    background-color: color(surface, secondary);
    border-bottom: 1px solid color(surface, active);
  }

  svg {
    width: 20px;
    height: 20px;
  }
}

.tabContent {
  flex: 1;
  min-height: 0;
  overflow: hidden;
  color: color(text, primary);
}
