@use "@styles/variables.scss" as *;

.sidebarContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: color(background, secondary);
  border-right: 1px solid color(border, secondary);

  &.mobile {
    height: 56px;
    flex-direction: row;
    border-right: none;
    border-top: 1px solid color(border, primary);
  }
}

.tabContainer {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 36px;
  border-bottom: 1px solid color(border, secondary);

  &.mobileTabContainer {
    width: 100%;
    justify-content: space-around;
    align-items: center;
    border-bottom: none;
  }
}

.tab {
  @include flex-center;
  width: 44px;
  height: 36px;
  color: color(text, disabled);
  cursor: pointer;
  transition: all transition(fast);
  border-bottom: 2px solid transparent;

  &:hover {
    color: color(text, secondary);
    background-color: color(surface, secondary);
  }

  &.active {
    color: color(text, primary);
    border-bottom-color: color(primary);
  }

  svg {
    width: 18px;
    height: 18px;
  }
}

.tabContent {
  flex: 1;
  min-height: 0;
  overflow: hidden;
  color: color(text, primary);
}
