@use "@styles/variables.scss" as *;

.chat-sidebar {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: color(background, secondary);
  border-left: 1px solid color(border, secondary);
}
