.chat-sidebar {
	height: calc(100% - 74px);
	width: 100%;
	min-width: 200px;
	max-width: 300px;
	.cs-main-container {
		background-color: red;
		border: none;
		.cs-chat-container {
			width: 100%;
			height: 100%;
			background-color: green;
			.cs-message-list {
				width: 100%;
				height: calc(100% - 37px);
				background-color: #111;
				.scrollbar-container {
					.cs-message {
						.cs-message__content-wrapper {
							.cs-message__content {
								background-color: #444;
								color: #fff;
							}
						}
					}
				}
			}
			.cs-message-input {
				border: none;
				background-color: #222;
				.cs-message-input__content-editor-wrapper {
					background-color: #555;
					.cs-message-input__content-editor-container {
						.cs-message-input__content-editor {
							background-color: #555;
							color: #fff;
						}
					}
				}
				.cs-message-input__tools {
					.cs-button--send {
						.fa-paper-plane {
							color: #fff;
						}
					}
				}
			}
		}
	}
	.push-to-talk-button-container {
		position: relative;
		display: flex;
		align-items: center;
		gap: 10px;
		background-color: #444;
		.push-to-talk-button {
			background-color: #444;
			color: #fff;
			border: none;
			padding: 10px 20px;
			cursor: pointer;
			height: 37px;
			width: calc(100% - 37px);
			&:hover {
				background-color: #555;
			}
			&:active {
				background-color: #666;
			}
		}
		.recording-indicator {
			position: absolute;
			right: 0;
			top: 6px;
			width: 25px;
			height: 25px;
			margin-right: 6px;
			border-radius: 50%;
			background-color: #661111;
			cursor: pointer;
			transition: all 0.3s ease;
			&.active {
				background-color: #ff1111;
				box-shadow: 0 0 10px #ff1111;
				animation: pulse 1.5s infinite;
			}
			&:hover {
				background-color: #df0909;
			}
		}
		@keyframes pulse {
			0% {
				transform: scale(1);
				opacity: 1;
			}
			50% {
				transform: scale(1.1);
				opacity: 0.8;
			}
			100% {
				transform: scale(1);
				opacity: 1;
			}
		}
		height: 37px;
		width: 100%;
	}
}
