@use "../../../styles/variables" as *;

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-bottom: 0.5rem;
}

.title {
  padding: 0.5rem;
  font-size: 12px;
}

.serviceList {
  display: grid;
  gap: 8px;
}
