@use "@styles/variables.scss" as *;

.header {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 32px;
  background-color: color(surface, primary);
  border-bottom: 1px solid color(surface, primary);
}

.leftSection {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 16px;
  font-weight: bold;
  color: color(text, primary);
  margin: 0;
}

.rightSection {
  display: flex;
  align-items: center;
  gap: 16px;
}

.settingsButton {
  padding: 8px 16px;
  border: 1px solid color(surface, primary);
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s;
  color: color(text, primary);

  &:hover {
    background-color: color(surface, secondary);
  }

  &:active {
    background-color: color(surface, secondary);
  }
}
