@use "@styles/variables.scss" as *;

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: color(background, primary);
}

.resizeHandle {
  height: 1px;
  background-color: color(border, primary);
  transition: background-color transition(fast);

  &:hover {
    background-color: color(primary);
  }
}
