@use "../service-common" as *;

.serviceItem {
  @include service-item;
}

.info {
  @include service-info;
}

.name {
  @include service-name;
}

.statusText {
  @include service-status-text;
}

.statusDot {
  @include service-status-dot;
}

.toggle {
  @include toggle-switch;
}

.toggleThumb {
  @include toggle-thumb;
}
